 <link rel="stylesheet" type="text/css" href="~/css/loginstyle.css"/>
<main>
            <div id >

                <li>
                    <img id= "ftcartao" src="img/cartao white.png" >
                    <a>Pagar com cartão</a>
                </li>
            </div>
            <div>
                <li>
                    <img id="ftboleto" src="img/Boleto white.png">
                    <a>Pagar com o Boleto</a>
                </li>
            </div>
    </main>