
*{
  margin: 0;
  padding: 0;
}


nav{
  text-align: center;
}

#fotoprincipal{
  text-align: left;
  width: 962px;
}

h1{
  text-align: center;
  border: 5px;
  border-color: brown;
}

#texto{
  text-align: center;
  justify-content: space-between;
}

#cabecalho{

}




