<link href="~/css/cadasterstyle.css" rel="stylesheet" type="text/css">

<main>
        <section>

        
        <div id="color" style="width: 550px;">
            <form method="POST" action='@Url.Action("CadastrarCliente","Cadastro")'>

                <p>Cadastro: </p>
                <input  type="text" name="nome"   placeholder="Nome">    
                <br/>
                <input  type="email" name="email"   placeholder="Email">
                <br/>
                
                <input  type="password" name="senha"   placeholder="Senha" width="100px">
                <br/>
                <input  type="password" name="confsenhas"   placeholder="Confirmar senha" width="100px">
                <br/>
                <input  type="text" name="cpf"   placeholder="CPF">
                <br/>

                <input  type="text" name="telefone"   placeholder="Telefone">
                <br/>
                
                
                <input id="data-nascimento" type="date" maxlength="20" minlength="3" name="data-nascimento" />
        
                <br/>
                <br/>
                
                <input type="submit" name="submit" value="Cadastrar">
                // Configurar para sair dai
            </form>
        </div>
    </section>
            

    </main> 
        