<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portifólio Joao santos</title>
    <link rel="stylesheet" type="text/css" href="css/site.css"/>
</head>

<body>
    <div id="fotoprincipal">
        <img src="../img/fotojoao.jpg" title="Foto do joao"/> 
    </div>

    <div id="texto">
    <section id="Perguntas">
    
        <ul></ul>
            
            <li>Nasceu no dia 10/03/2003</li>
            
            <li>Adora futebol</li>
            
            <li>Tem 16 anos</li>
            
            <li>Apaixonado por fotografia</li>
            
            <li>Amante da tecnologia</li> 
            
            <li>Ama conhecer lugares diferetes</li>
            
            <li>Conheceu alguns lugares do Brasil</li>
            
            <li>Cursou programação em blocos no app inventor</li>
            
            <li>Católico aliostoólico romano</li>
            
            <li>Gosta de estar em união com a familia</li> 
            
            <li>Passou no processo seletivo da sabesli e senai </li>
            
            <li>Tem uma irmã de 6 anos</li>
            
            <li>Gosta de sertanejo e lofi</li>
            
        </ul>       

    </div>
    </section>
    </body>
    </html>