<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portifólio Joao santos</title>
    <link rel="stylesheet" type="text/css" href="css/site.css"/>
</head>

<body>
    
    <nav>
        
        <h1> João Vitor dos Santos Farias</h1>
        <img src="img/62310954_1310785685746157_612662103928471552_n.jpg" title="Foto do joao" style="width: 300px;"/> 
        <div id="back">
            
        </div>
    </nav>
    <section id= "cabecalho">    
        <p> <strong>Portifólio</strong> </p>    
    </section>

    <section id="Perguntas">
    
        <ul>

            
            <li>Nasceu no dia 10/03/2003</li>
            
            <li>Adora futebol</li>
            
            <li>Tem 16 anos</li>
            
            <li>Apaixonado por fotografia</li>
            
            <li>Amante da tecnologia</li> 
            
            <li>Ama conhecer lugares diferetes</li>
            
            <li>Conheceu alguns lugares do Brasil</li>
            
            <li>Cursou programação em blocos no app inventor</li>
            
            <li>Católico aliostoólico romano</li>
            
            <li>Gosta de estar em união com a familia</li> 
            
            <li>Passou no processo seletivo da sabesli e senai </li>
            
            <li>Tem uma irmã de 6 anos</li>
            
            <li>Gosta de sertanejo e lofi</li>
            
        </ul>       
        
        <a href="#">Voltar ao topo</a>
        
        
    </section>
        
        
        
    </body>
    </html>