<title>Role top</title>
<link rel="stylesheet" type="text/css" href="~/css/stylegallery.css"/>
<link rel="stylesheet" type="text/css" href="~/css/style.css"/>
    
<body>  
    <section id="secnav" style="height: 650px" > 
            <div id="closenav">
                <a asp-controller="Home" asp-action="Index"><img src="../img/cancel white.png" alt="Fechar" title="fechar janela" style="width: 40px;padding-top: 10px;padding-right: 10px;"></a>
                <div id="gallery" title="galeria pagina inical" style="border-top-width: 5px;border-top-style: solid;border-left-width: 5px;border-left-style: solid;border-bottom-width: 5px;border-bottom-style: solid;border-right-width: 5px;border-right-style: solid;height: 130px;width: 300px;">
                        
                        <h3>Galeria</h3>
                        <div id="imggallery">
                            <img src="../img/album.png" alt="Galeria" height="100">
                            
                        </div>
                </div>
            </div>
        
            <div id="pato-flex" >
                <div id="navone">
                <ul>
                    <div id="ftsone">
                        <li><img src="../fotos/show.jpg" alt="Show" title="fotos" style="width: 400px;height: 220px;"></li>
                        
                        <li><img src="../fotos/Próximos-shows-de-K-Pop-no-Brasil.jpg" alt="Show" title="fotos" style="width: 400px;"></li>
                    </div>
                    
                    <div id="ftstwo">

                        <li><img src="../fotos/balada-love-story.jpg" alt="Show" title="fotos" style="width: 400px;"></li>
                        
                        <li><img src="../fotos/espaço-para-eventos-corporativos.png" alt="Show" title="fotos" style="width: 400px;"></li>
                    </div>
                        
                </ul>
                </div>
            </div>

    </section>
</nav>
<main>
        <section class="conteiner" style="background-color: black">
                <div id="labelnews">
                    <h2>Noticías</h2>
                </div>
                    <div id="ftnews" style="height: 500px">
                    
                            <img src="../fotos/Planeta-Atlantida2018.jpg" height="200" style="width: 300px;"/>
                      
                       <div id="imgcenter">
                           <img src="../fotos/Eventos.jpg" height="450"/>
                        </div>
                     
                       
                            <img src="../fotos/12-IMG_6319-XL.jpg" height="200"/>
                        
                    </div>  
            </section>    
    
                    <article id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8871329131093!2d-46.648477084407446!3d-23.536561566563428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda%20Bar%C3%A3o%20de%20Limeira%2C%20539%20-%20Campos%20El%C3%ADseos%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001202-001!5e0!3m2!1spt-BR!2sbr!4v1567454718809!5m2!1spt-BR!2sbr"
                    width="10000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>      
                </article>       


</main>
</body>
