@model RoleTopMVC.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="img/logo.png" rel="icon" type="imag/x-icon">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script> 

</head>

<header>
                <nav>
                    <ul>
                       
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index" ><img id="logo" src="../img/logo.png" alt="Logo" title="logo role top"></a></li>
                        @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                        {
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" style="height: 94px;" asp-controller="Cliente" asp-action="Login"><img id="ingresso" src="../img/tickts white.png" alt="Ingresso" title="icone para a alugar">Alugue nosso espaço!</a></li>
                        }
                        else
                        {
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" style="height: 94px;" asp-controller="Pagamento" asp-action="FormaPag"><img id="ingresso" src="../img/tickts white.png" alt="Ingresso" title="icone para a alugar">Alugue nosso espaço!</a></li>
                        }
                 
                            <div id="rightside">
                                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("index" , "Home")#labelnews'>Noticías</a></li>
                                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Nav" asp-action="Galeria">Galeria</a></li>
                                <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Nav" asp-action="Calendario">Calendário</a></li>
                                @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                                {
                                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Login">Login/Cadastro</a></li>
                                }
                                else
                                {
                                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Historico">Pedidos</a></li>
                                }
                                
                                
                                
                            </div>
                    </ul>
        </header>
@RenderBody()
<footer style="height: 60px;">
        <p> Endereço
            <br/>
            Alameida Barao De Limeira 539 </p>
        <p> Contatos
            <br/>
        (11) 4002-8922 </p>

        <a>FAQ 
            <br/>
            Clique aqui!
        </a>

        <div>
                <p>Redes sociais:</p>
            <img src="../img/facebookWhite.png" alt="Facebook" height="30-">
            <img src="../img/whatsapp white.png" alt="Whatsapp" height="30">
            <img src="../img/instagramWhite.png" alt="Instagram" height="30">
        </div>
        
    </footer>

    <script>
        function toggleMobileMenu() {
            var ul = document.querySelector("nav ul");
            var commonButtons = document.querySelectorAll("nav .bt-common-menu");
            var icon = document.querySelector(".icon > i");

            ul.classList.toggle("mobile-mode");

            if (icon.classList.contains("fa-bars")) {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");

                icon.classList.add("fas");
                icon.classList.add("fa-skull");
            } else {
                icon.classList.remove("fas");
                icon.classList.remove("fa-skull");

                icon.classList.add("fa");
                icon.classList.add("fa-bars");
            }

            for (var button of commonButtons) {
                button.classList.toggle("active");
            }

        }
        
    </script>