@model RoleTopMVC.ViewModels.RespostaViewModel

<link rel="stylesheet" type="text/css" href="~/css/style.css"/>

<main>
    <h2>
        @Model.NomeView deu ruim!
    </h2>
    <p>
        @Model.Mensagem
    </p>
</main>