@model RoleTopMVC.ViewModels.RespostaViewModel

<link rel="stylesheet" type="text/css" href="~/css/loginstyle.css"/>
<main>
    <div id="alomae">
    <h2>
        @Model.NomeView deu ruim!
    </h2>
    <p>
        @Model.Mensagem
    </p>
    </div>
</main>