@model RoleTopMVC.ViewModels.RespostaViewModel

<link rel="stylesheet" type="text/css" href="~/css/style.css"/>

    <h2>
        @Model.NomeView deu bom!
    </h2>
    <p>
        @Model.Mensagem
    </p>
