@model RoleTopMVC.ViewModels.HistoricoViewModel
<link href="~/css/admstyle.css" rel="stylesheet" type="text/css">
<head>
        <style>
                table, th, td {
                border: 1px solid white;
                border-collapse: collapse;
                }
                th, td {
                padding: 5px;
                }
                th {
                text-align: left;
                }
                </style>
</head>
<body>
        <section style="height: 20em" id="sectiontwo">

            <table>
                <tr>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Tipo de evento</th>
                    <th>Público/Privado</th>
                    <th>Iluminação</th>
                    <th>Som</th>
                </tr>
                <tr>
                    @foreach (var aluga in Model.Aluga)
                    {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    }
                </tr>
            </table>
        </section>
            </div>
</body>
</html>