<link href="~/css/admstyle.css" rel="stylesheet" type="text/css">
<head>
        <style>
                table, th, td {
                border: 1px solid white;
                border-collapse: collapse;
                }
                th, td {
                padding: 5px;
                }
                th {
                text-align: left;
                }
                </style>
</head>
<body>
        <section style="height: 20em" id="sectiontwo">

            <table>
                <tr>
                    <th>Data</th>
                    <th>Tipo de evento</th>
                    <th>Público/Privado</th>
                    <th>Iluminação</th>
                    <th>Som</th>
                    <th>Valor pago</th>
                    <th>Pago</th>
                    <th>Opcões</th>
                </tr>
                <tr>
                    <td>23/05/19</td>
                    <td>Casamento</td>
                    <td>Privado</td>
                    <td>Inclusa</td>
                    <td>Incluso</td>
                    <td>R$7.000</td>
                    <td>Feito</td>
                    <td>Cancelar</td>
                    
                    
                </tr>
                <tr>
                    <td>23/05/19</td>
                    <td>Balada</td>
                    <td>Público</td>
                    <td>Inclusa</td>
                    <td>Não Incluso</td>
                    <td>R$4.000</td>
                    <td>Pendente</td>
                    <td>Cancelar</td>   
                </tr>
            </table>
        </section>
            </div>
</body>
</html>