<link href="~/css/loginstyle.css" rel="stylesheet" type="text/css">
<main>
        <section>
            <div id="color" style="width: 600px;height: 400px;">
                <div id="gato">

                    <div>
                        <h2>Entrar usando:</h2>
                        <img src="../img/facebook white.png" style="width: 40px;"> <img src="../img/instagramWhite.png" style="width: 40px;">
                    </div>
                    <div>
                        <form method="POST" action='@Url.Action("Login" , "Cliente")'>  
                            <fieldset class="w3-conteiner" style="border-top-width: 0px;border-top-style: sod;border-right-width: 0px;border-right-style: sod;border-bottom-width: 0px;border-bottom-style: sod;border-left-width: 0px;border-left-style: sod;">
                                    <input class="w3-input" type="text" name="Email" placeholder="E-mail" >
                                    <br/>
                                    <input class="w3-input" type="password" name="Senha" placeholder="Senha">  
                                    <br/>
                                    <input type="submit" value="Entrar" >
                                </fieldset>
                            </form>
                            <div id="forget">
                            <a href='@Url.Action("Index", "Cadastro")'>Ainda não tem sua conta? Cadastre-se</a>
                        </div>
                    
                    </div>
                </div>
            </div>
                    

            </section>
</main>
