
<link rel="stylesheet" type="text/css" href="~/css/rentstyle.css">
<head>
        <style>

                .mes {
    
                    font: bold 25px verdana;
    
                    background: #f5f5f5;
    
                    text-align: center;
    
                    line-height: 40px;				
    
                    height: 40px;
    
                    width: 854px;
    
                }
    
                .semana {
    
                    font: bold 20px verdana;
    
                    background: #f5f5f5;
    
                    text-align: center;
    
                    line-height: 25px;						  
    
                    height: 25px;
    
                    width: 120px;
    
                }
    
                .dia {
    
                    background: #f5f5f5;
    
                    font: 20px verdana;				  
    
                    text-align: center;
    
                    height: 100px;
    
                    width: 100px;
    
                }
    
                .evento {
    
                    position: relative;
    
                    font: 9px verdana;
    
                    color: #C30;
    
                    right: -7px;
    
                    top: -9px;			  
    
                }
    
            </style>
</head>
    <main>
        <!-- Calendario-->
        <section>

            <table>
                

                <caption class="mes">Setembro 2019</caption>
    
                <thead>
    
                    <tr>
    
                        <td class="dia"><div class="semana">D</td>
    
                        <td class="dia"><div class="semana">S</td>
    
                        <td class="dia"><div class="semana">T</td>
    
                        <td class="dia"><div class="semana">Q</td>
    
                        <td class="dia"><div class="semana">Q</td>
    
                        <td class="dia"><div class="semana">S</td>
    
                        <td class="dia"><div class="semana">S</td>
    
                    </tr>
    
                </thead>
    
                <tbody>
    
                    <tr>
    
                        <td class="dia">1<span class="evento"><img src="../img/logo.png" style="width: 50px;border-top-style: solid;border-top-width: 0px;"></span></td>
    
                        <td class="dia">2<span class="evento"></span></td>
    
                        <td class="dia">3<span class="evento"></span></td>
    
                        <td class="dia">4</td>
    
                        <td class="dia">5<span class="evento"><img src="../img/logo.png" style="width: 50px;border-top-style: solid;border-top-width: 0px;"></span></td>
    
                        <td class="dia">6</td>
    
                        <td class="dia">7</td>
    
                    </tr>
    
                    <tr>
    
                        <td class="dia">8<span class="evento"></span></td>
    
                        <td class="dia">9</td>
    
                        <td class="dia">10</td>
    
                        <td class="dia">11<span class="evento"><img src="../img/logo.png" style="width: 50px;border-top-style: solid;border-top-width: 0px;"></span></td>
    
                        <td class="dia">12</td>
    
                        <td class="dia">13<span class="evento"></span></td>
    
                        <td class="dia">14</td>
    
                    </tr>			
    
                    <tr>
    
                        <td class="dia">15<span class="evento"><img src="../img/logo.png" style="width: 50px;border-top-style: solid;border-top-width: 0px;"></span></td>
    
                        <td class="dia">16</td>
    
                        <td class="dia">17</td>
    
                        <td class="dia">18<span class="evento"><img src="../img/logo.png" style="width: 50px;border-top-style: solid;border-top-width: 0px;"></span></td>
    
                        <td class="dia">19</td>
    
                        <td class="dia">20<span class="evento"></span></td>
    
                        <td class="dia">21</td>
    
                    </tr>
    
                    <tr>
    
                        <td class="dia">22<span class="evento"><img src="../img/logo.png" style="width: 50px;border-top-style: solid;border-top-width: 0px;"></span></td>
    
                        <td class="dia">23</td>
    
                        <td class="dia">24</td>
    
                        <td class="dia">25<span class="evento"></span></td>
    
                        <td class="dia">26</td>
    
                        <td class="dia">27<span class="evento"></span></td>
    
                        <td class="dia">28</td>
    
                    </tr>
    
                </tbody>
    
            </table>
</section>  
        <!-- Calendario-->



<div id="color" style="width: 700px;"   >

    <form method="POST" action='@Url.Action("RegistrarAluguel","Aluga")'> 
        
        <div>
            <label for="Digite seus dados">Digite seus dados:</label>
            <br/>
            <input type="text" name="Nome" placeholder="Digite seu nome">
        </div>
        
        <div>
            <input type="Email"  name="Email" placeholder="Seu E-mail">
            <br/>
            <input type="text" name="CpfCnpj" placeholder="CPF ou CNPJ">
        </div>

        <div>
            <input type="text"  name="Telefone"  maxlength="20" minlength="3" placeholder="(11) telefone">
            <br/>
        </div>

        <div>
            <label for="data-nascimento">Dia e hora do evento:</label>
            <br />
            <input type="datetime-local" id="data-nascimento"  maxlength="20" minlength="3" name="dataEhora" />
        </div>
            
        <input type="submit" name="Pronto" value="Pronto">

        </div>
            
        </form>        
    </article >
    
    </main>

