*{
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Source Sans Pro', sans-serif;
     background-color: black; 
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

a{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

section{
    display: flex;
    justify-content: center;
}

table th,td{
    color: white;;
}

#table{
    color: white;   
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    }

    th, td {
    padding: 5px;
    }
    
    th {
    text-align: left;
    }


