*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
}

h2,p,a > strong{
    color: white;
    text-decoration: none;
}
A{
    color: white
}
/**********************************************
                INICIO NAV
**********************************************/


nav{
    background-color:transparent;
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 1.7em;
    height: 5.5em ;
    width: 100%;
    align-items: center;
    
}

nav a{
    text-decoration: none;
    color: white;
    
}

nav li{
    padding: .60em 1em;
    color: white;
    text-decoration: none;
}

#ingresso {
    height: 2em;
}

#logo{
    height: 5em;
}

#rightside{
    display: flex;
    position: absolute;
    right: 50px;
    flex-direction: row;
}

/**********************************************
                FINAL NAV
**********************************************/
select{ 
    width: 5em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;

}

input[type=Email]{
    width: 30em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=text]{
    width: 30em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password] {
    width: 30em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=date] {
    width: 30em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 30em;
    background-color: #7D0093;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

  input[type=alo] {
    width:36%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=checkbox] {
    width:22%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  form input, form select {
    width: 73%;
    height: 40px;
    border: none;
    text-align: left;
    padding: 0 2px;
}  

  input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color: #FFC600;
  }

  label{
      color: white;
  }

  h1{
      color: white;
      display: flex;
      justify-content: center;
  }

  #loucura{
      display: flex;
  }

  #color{
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paga{
    display: flex;
    flex-direction: column ;
}
  

footer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    position:absolute;
    bottom:0;
    width:100%;

}

#closenav{
    display: flex;
    justify-content: left;
}

#bandeiras{
    width: 50%;
}

#fadas{
    display: flex;
    width: 50%;
}

form{
    justify-content: center;
}