*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../fotos/festas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 40%;   
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

a{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}



/**********************************************
                INICIO NAV
**********************************************/



nav{
    background-color:transparent;
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 1.7em;
    height: 5.5em ;
    width: 100%;
    align-items: center;
    
}

nav a{
    text-decoration: none;
    color: white;
    
}

nav li{
    padding: .60em 1em;
    color: white;
    text-decoration: none;
}

#ingresso {
    height: 2em;
}

#logo{
    height: 5em;
}

#rightside{
    display: flex;
    position: absolute;
    right: 50px;
    flex-direction: row;
}



#pato-flex{
    display: flex;
    
}

#calendar{
    background-color: #FFC600;
    width: 50%

}   

#gallery{
    background-color: #7D0093;
    width: 50%
}

#imgcalendar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imggallery{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#calendar > h3{
    display: flex;
    justify-content: center;

}

#gallery > h3{
    display: flex;
    justify-content: center;
    
}

#labelnews{
    display: flex;  
    justify-content: center;
}

#ftnews {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around
}

#imgcenter{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media(min-width:1100px){
    #bt-mobile-menu{
        display: none;  
    }
}

@media(max-width:1100px){
    


nav #bt-mobile-menu {
    display: none;
}

nav #bt-mobile-menu {
    display: block;
}

nav .bt-common-menu {
    display: none;
}

nav .bt-common-menu.active {
    display: block;
}

nav ul.mobile-mode {
    display: flex;
    flex-direction: column;
}
}







/**********************************************
                FINAL NAV
**********************************************/

/**********************************************
                 INICIO MAIN
**********************************************/








/**********************************************
                 FINAL MAIN
**********************************************/

/**********************************************
                 INICIO SECTION
**********************************************/

#map{
    display: flex;
    justify-content: center;
}

.ftnews{
display: flex;
}





/**********************************************
                 FINAL SECTION
**********************************************/





footer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 20%;

}
