<link href="~/css/admstyle.css" rel="stylesheet" type="text/css">
<head>
        <style>
                table, th, td {
                border: 1px solid white;
                border-collapse: collapse;
                }
                th, td {
                padding: 5px;
                }
                th {
                text-align: left;
                }
                </style>
</head>
<body>
            
            <section>
                <div id="table">
                
                
                        <table>
                            <tr>
                                <th>Data</th>
                                <th>Cliente</th>
                                <th> Email</th>
                                <th>Número</th>
                                <th>Tipos de eventos</th>
                                <th>Público/Privado</th>
                                <th>Iluminação</th>
                                <th> Som</th>
                                <th> ACEITAR</th>
                            </tr>
                            <tr>
                                <td>23/05/19</td>
                                <td>Regiane Rodrigues</td>
                                <td>regianer@gmail.com</td>
                                <td>(11) 4002-8922</td>
                                <td>Casamento</td>
                                <td>Público</td>
                                <td>Sim</td>
                                <td>Sim</td>
                                <td>Aceito</td>
                                
                            </tr>
                            <tr>
                                <td>23/05/19</td>
                                <td>Fatima Farias</td>
                                <td>fafa02@gmail.com</td>
                                <td>(11) 4002-8922</td>
                                <td>Balada</td>
                                <td>Privado</td>
                                <td>Sim</td>
                                <td>Não</td>    
                                <td>Aceito</td>
                                
                            </tr>
                        </table>
                    </section> 
            </div>
</body>
</html>